.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.result-enter {
  opacity: 0.01;
}
.result-enter.result-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.result-leave {
  opacity: 1;
}
.result-leave.result-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.wrap {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-image {
  /* The image used */
  background-image: url("/assets/img/gs1_etmh.jpg");
  
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
  
  /* Full height */
  height: 100vh; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
